.container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container section div{
    display: block;
    padding: 27px 10px;
    height: 90px;
    font-size: 18px;
}

.container section ul{    
    display: block;
    height: 510px;
    overflow-x: hidden;
    width: 100%;
    max-width: 375px;
    margin-right: 30px;
}

.container section ul li{
    width: 350px;
    height: 80px;
    padding: 5px 10px;
    margin: 5px;
    background-color: #e02041;
    border: 0;  
    border-radius: 8px;
    color: #ffffff;
    transition: filter 0.2s;
}

.container section ul li:hover{
    filter:brightness(90%)
}

.container section ul li span{
    opacity: 0.8;
    font-size: 14px;
}

.container section ul li span + p{
    color: #f8f3ab
}